<?xml version="1.0"?><!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
--><configuration>
	<appSettings>
     <add key="CrystalImageCleaner-AutoStart" value="true" />
     <add key="CrystalImageCleaner-Sleep" value="60000" />
     <add key="CrystalImageCleaner-Age" value="120000" />
 </appSettings>
	<connectionStrings>
     <add name="benfitsConnectionString" connectionString="Data Source=bvc\sqlexpress;Initial Catalog=benfits;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString" connectionString="Data Source=bvc\sqlexpress;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString2" connectionString="Data Source=bvc\sqlexpress;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString3" connectionString="Data Source=bvc\sqlexpress;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString4" connectionString="Data Source=BVC\SQLEXPRESS;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString5" connectionString="Data Source=BVC\SQLEXPRESS;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString6" connectionString="Data Source=BVC\SQLEXPRESS;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString7" connectionString="Data Source=BVC\SQLEXPRESS;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString8" connectionString="Data Source=BVC\SQLEXPRESS;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     <add name="planningConnectionString9" connectionString="Data Source=BVC\SQLEXPRESS;Initial Catalog=planning;Integrated Security=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></assemblies></compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	<httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers></system.web>
</configuration>